{% extends "dashboard/contexts/monitor/status.html" %}

{% block status_styles %}
h2.my_h2 { margin: 0px; margin-bottom: 1em; }

.dispatch_entry {
	margin-bottom: 1em;
}

.dispatch_entry td { padding-right: 5px; padding-bottom: 5px; }

.dispatch_header {
	font-size: 14px; margin-bottom: 0px;
	padding: 10px; background: #ddd;
	border-left: solid 20px #aaa;
}

.dispatch_body {
	padding: 10px; background: #efefef;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

.dispatch_label {
	font-weight: bold;
	vertical-align: top; text-align: right;
}

.json_dump .json_dump {
	/* figure out a nice nested style someday */
	color: #373;
}
{% endblock %}

{% block status_scripts %}
$(document).ready(function() {
	// utility function for prettyprinting json collections
	function recurseJSONPrint(record) {
		out = "<table class=\"json_dump\" cellpadding=\"0\" cellspacing=\"0\">";
		for (key in record) {
			out += "<tr>";
			out += "<td class=\"dispatch_label\">" + key + ":</td>";

			if (record[key] instanceof Object)
				out += "<td class=\"dispatch_value\">" + recurseJSONPrint(record[key]) + "</td>"
			else
				out += "<td class=\"dispatch_value\">" + record[key] + "</td>";

			out += "</tr>";
		}
		out += "</table>";

		return out;
	}

	function refreshScheduler() {
		// show the spinner image
		$("#spinner_img").css('display','');

		// send an AJAX request to the scheduler for its status
		$.ajax({
		  url: '/proxy/' + encodeURIComponent('http://localhost:8080/status'),
		  data: { 'json': true },
		  dataType: 'json',
		  success: function(data) {
		  	// ensure that we have some status to report, even if we didn't receive any
		  	// most of the time, this will be either "running" or "sleeping"
		  	if (data.status == null)
		  		data.status = "unknown";

		  	out = "<h2 class=\"my_h2\">Scheduler: <span style=\"display: inline-block; width: 150px;\" class=\"task_status " + data.status + "\">" + data.status + "</span></h2>";

			if (data.tasks != null) {
				// show all the entries in the scheduler's table
				for (i in data.tasks) {
					var record = data.tasks[i];

					// replace the arguments collection with a nested string
					// record.arguments = recurseJSONPrint($.parseJSON(record.arguments));

					out += "<div class=\"dispatch_entry\">";
					out += "<div class=\"dispatch_header\">task entry for <b>" + record.target + "</b></div>";

					out += "<div class=\"dispatch_body\">" + recurseJSONPrint(record) + "</div>";

					out += "</div>";
				}
			} else {
				// the dispatch table is empty, sadly
				out += "<div style=\"padding: 0px 0px 10px 0px; color: #555;\">(there are no entries in the scheduler's queue)</div>";
			}

			$('#scheduler_status').html(out);

			// hide the spinner since we're done
			$("#spinner_img").fadeOut(600);
		  },
		  error: function() {
			$('#scheduler_status').html('<h2 class=\"my_h2\">Scheduler: <span style=\"display: inline-block; width: 150px;\" class=\"task_status due\">not running</span></h2>');

			// hide the spinner since we're done
			$("#spinner_img").fadeOut(600);
		  }
		});
	}

	// run it once to populate the view at first
	refreshScheduler();

	// then associate the same function with this button so we can refresh manually
	$("#refresh_status_btn").click(refreshScheduler);
});
{% endblock %}

{% block status_content %}
	<div style="position: relative;">
		<div id="scheduler_status">
		</div>

		<div style="position: absolute; top: 5px; right: 5px; text-align: right;">
			<img id="spinner_img" src="/static/taskmanager/images/ajax-loader-arrows.gif" style="vertical-align: middle; display: none;" />
			<input type="button" id="refresh_status_btn" value="refresh status" style="width: 120px;" />
		</div>
	</div>
{% endblock %}