{% extends "dashboard/main.html" %}

{% block context_includes %}
{% block section_includes %}{% endblock %}
{% endblock %}

{% block context_styles %}
{% block section_styles %}{% endblock %}
{% endblock %}

{% block context_scripts %}

$(document).ready(function() {
	/*
	// bind up patient form adder dialogs
	$("#patient_show_add_btn").live('click', function() {
		var $dialog = $("#patient_add_dialog");
		var $header = $("#users_column .col_header");

		toggleDialog($(this), $dialog, $header);
	});
	*/
});

{% block section_scripts %}{% endblock %}
{% endblock %}

<!-- tab chooser goes in here somewhere -->
{% block tabs %}
	{% if selected_taskid %}
	<ul class="tabber" id="tabnav">
		<li class="tab1"><a href="/taskmanager/tasks/{{ selected_taskid }}/templates/"><img src="/static/taskmanager/fugue/icons/scripts-text.png" border="0" class="iconified_tab" />Templates</a></li>
		<li class="tab2"><a href="/taskmanager/tasks/{{ selected_taskid }}/messages/"><img src="/static/taskmanager/fugue/icons/balloon-ellipsis.png" border="0" class="iconified_tab" />Messages</a></li>
	</ul>
	{% else %}
	<ul class="tabber" id="tabnav">
		<li class="tab1"><a href="javascript:void(0)"><img src="/static/taskmanager/fugue/icons/scripts-text.png" border="0" class="iconified_tab" />Templates</a></li>
		<li class="tab2"><a href="javascript:void(0)"><img src="/static/taskmanager/fugue/icons/balloon-ellipsis.png" border="0" class="iconified_tab" />Messages</a></li>
	</ul>
	{% endif %}
{% endblock %}

<!-- list goes over here -->
{% block leftlist %}
	<div id="tasks_column" class="column">
		<div class="col_header" style="position: relative;">
			Tasks
		</div>

		<div class="itemlist chooser" style="min-height: 300px;">
			{% for task in tasks %}
			<a class="{% if task.id|lower == selected_taskid|lower %}selected{% endif %} choosable" href="/taskmanager/tasks/{{ task.id }}/{{ section|default:'templates' }}">
				{{ task.name }}
				<div class="address_box">from: {{ task.module }}</div>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

<!-- content area goes in here, too -->
{% block context_content %}
	{% if selected_taskid %}
		<div id="section_holder">
			{% block section_content %}{% endblock %}
		</div>

		<div style="text-align: right;">
			<b>server time:</b> {% now "N j Y, P" %}
		</div>
	{% else %}
		<table cellpadding="0" cellspacing="0" style="min-height: 300px; width: 100%; border: solid 1px gray;">
			<tr>
				<td valign="top" class="column" style="height: auto;">
					<div class="col_header">&nbsp;</div>
				</td>
			</tr>

			<tr>
				<td>
					<div style="min-height: 300px; background: url('/static/taskmanager/images/diagonal-gray.png');"></div>
				</td>
			</tr>
		</table>
	{% endif %}
{% endblock %}

{% block context_divs %}
	<div id="patient_add_dialog" class="column_dialog">
		<form id="patient_form" action="{% url taskmanager.subviews.contexts.patients.add_patient %}" method="POST">
			<div style="font-weight: bold; font-family: Verdana, sans-serif; font-size: 22px; margin-bottom: 0.5em;">Add a Patient</div>

			<input type="hidden" name="return_page" value="{{ current_page }}" />

			{% if error_msg %}
			<div class="errorbox">
				<b>error:</b> {{ error_msg }}
			</div>
			{% endif %}

			<table class="vertical">
				<tr><td class="label">Given Name:</td><td>
					<input type="text" name="first_name" />
				</td></tr>

				<tr><td class="label">Surname:</td><td>
					<input type="text"  name="last_name" />
				</td></tr>

				<tr><td class="label">Email Address:</td><td>
					<input type="text"  name="address" />
				</td></tr>

				<tr><td class="label">&nbsp;</td><td align="right"><input type="submit" name="add_patient_btn" value="Create"></td></tr>
			</table>
		</form>
	</div>

	{% block section_divs %}
	{% endblock %}
{% endblock %}