<html>
	<head>
		<title>{% block title %}{% endblock %}</title>

		<link rel="shortcut icon" href="/static/taskmanager/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/taskmanager/taskmanager_details.css" />

		<script type="text/javascript" src="/static/taskmanager/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery-ui-1.8.4.custom.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery.calendrical.js"></script>
		<script type="text/javascript" src="/static/taskmanager/fullcalendar.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery.blockUI.js"></script>
		<script type="text/javascript" src="/static/taskmanager/facebox/facebox.js"></script>

		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	</head>

	<body class="dialog">
		<div id="dialog_container">
			<div class="dialog_header">
			{% block header %}{% endblock %}
			</div>

			<div style="padding: 10px;">
			{% block body %}{% endblock %}
			</div>
		</div>
	</body>
</html>