{% extends "dashboard/details/generic.html" %}

{% block title %}Task Manager :: details :: {{ session.task.name }}{% endblock %}
{% block header %}<img src="/static/taskmanager/icons/Appointment%20Cool.png"  class="dialog_header_icon" />{{ session.task.name }}{% endblock %}

{% block body %}
<div class="dialog_section overview_section">overview</div>

<table class="dialog_vertical" cellpadding="5" cellspacing="5" style="margin-bottom: 1em;">
	{% if session.process %}
	<tr><td class="dialog_label">process:</td><td>{{ session.process }}</span></td></tr>
	{% endif %}

	<tr><td class="dialog_label">status:</td><td><span class="task_status {{ session.get_status }}" style="display: inline-block; width: 60px;">{{ session.get_status }}</span></td></tr>

	{% if session.completed %}
		<tr><td class="dialog_label">completed on:</td><td>{{ session.completed_date|date }}, {{ session.completed_date|time }}</td></tr>
	{% else %}
		{% if session.timeout_date %}
		<tr><td class="dialog_label">times out in:</td><td>{{ session.timeout_date|timeuntil }}</td></tr>
		{% endif %}
	{% endif %}

	</tr>
</table>

<div class="dialog_section actions_section">actions</div>

<div style="padding: 5px;">
	<input id="timeout_session_button" type="button" value="timeout" />
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#timeout_session_button").click(function() {
		if (!confirm('Are you sure that you want to mark this session as timed out?'))
			return;

		$.ajax({
			type: 'POST',
			dataType: 'text',
			url: '/taskmanager/sessions/{{ session.id }}/command/',
			data: {'command': 'timeout'},
			success: function(data) {
				if (data == "REQUIRES_REFRESH")
					location.reload(true);
			}
		});
	});
});
</script>
{% endblock %}